.logo {
  height: 70px;
  width: auto;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar {
  background-color: rgb(169, 169, 169);
}

.logo:hover {
  transform: scale(1.2);
}

.nav-links {
  list-style: none;
}

.nav-list {
  display: inline-block;
  padding: 0 20px;
}

.nav-list:hover {
  transform: scale(1.1);
}

.header.nav-list.nav-a {
  text-decoration: none;
}

.header.header.nav-list.nav-a:hover {
  color: rgb(186, 85, 211);
}

.img1 {
  width: 60%;
  margin-left: 70%;
  margin-top: 10%;
}

.img2 {
  width: 60%;
  margin-left: -10%;
  margin-top: 40%;
}

.img3 {
  width: 115%;
  margin-left: -10%;
  margin-top: 5%;
  display: flex;
}

.img4 {
  width: 60%;
  margin-left: 10%;
  margin-top: 40%;
}

.img5 {
  width: 30%;
  margin-left: -50%;
  margin-top: 40%;
}

.titulo {
  text-align: center;
  font-size: 100px;
  color: rgb(186, 85, 211);
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  font-family: "Chomsky";
  transition: all 0.3s;
  cursor: pointer;
}

.titulo:hover {
  transform: scale(1.1);
}

.grup1 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.grup2 {
  justify-content: center;
  align-items: center;
  gap: 100px;
  display: flex;
}

.te-not {
  font-size: 20px;
  margin-top: 10%;
  font-family: "Noto Serif Khojki", serif;
}

.te-not2 {
  font-size: 20px;
  margin: 1px;
  font-family: "Noto Serif Khojki", serif;
}

.noti-im-foto {
  width: 80%;
  padding-left: 15%;
  margin-top: 10%;
}

.noti-im-foto2 {
  width: 80%;
  padding-left: 15%;
  margin-top: 10%;
}

.noticias1y2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.noticias1y2 .titulo-not {
  text-align: center;
}

.noticia1 {
  width: 100%;
  margin: 20px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noticia2 {
  width: 100%;
  margin: 20px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noticia3 {
  width: 100%;
  margin: 20px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noticia4 {
  width: 100%;
  margin: 20px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video {
  width: 75%;
  height: 75%;
}

.noticias3y4 {
  display: flex;
}

.foto-not3 {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto-not4 {
  width: 500px;
  height: 300px;
  margin-right: 80px;
}

.titulo-not {
  text-align: center;
  font-size: 30px;
  color: rgb(186, 85, 211);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  font-family: "Chomsky";
}

.text-not {
  font-size: 20px;
  font-family: "Noto Serif Khojkl", serif;
  justify-content: center;
}

.img1-jg {
  width: 55%;
}

.img2-jg {
  width: 145%;
  height: 100%;
  margin-left: -20%;
  margin-top: -10%;
}

.img3-jg {
  width: 95%;
  margin-left: 40%;
  margin-top: 20%;
}

.descripcion-bichito {
  font-size: 22px;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-family: "Noto Serif Khojki", serif;
}

.descripcion-jg {
  font-size: 20px;
  text-align: justify;
  margin-top: 20%;
  font-family: "Noto Serif Khojki", serif;
}

.video-juegos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enlaces-juegos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steam-jg {
  display: flex;
  justify-content: flex-start;
  width: 12em;
}

.plastore-jg {
  display: flex;
  justify-content: flex-end;
  width: 40em;
  margin-left: 50em;
}

.contenedor-equipo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.equipo1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.equipo-foto1 {
  height: 300px;
}

.equipo2 {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.equipo-foto2 {
  height: 300px;
}

.nombre-equipo {
  color: rgb(186, 85, 211);
  font-size: 30px;
}

.lista {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.soporte {
  margin-top: 3%;
}

.text-contacto {
  margin-bottom: 20%;
  font-size: 20px;
  font-family: "Noto Serif Khojki", serif;
}

.enviar {
  border: 0;
  margin-top: 3%;
  color: white;
  overflow: hidden;
  transition: 0.2;
  background: rgb(15, 150, 22);
  text-decoration: none;
}

.enviar:hover {
  background: rgb(186, 85, 211);
  box-shadow: 0 0 10px rgb(186, 85, 211), 0 0 40px rgb(186, 85, 211), 0 0 80px rgb(186, 85, 211);
}

.form-label {
  font-size: large;
  font-style: oblique;
}

/*footer*/
footer {
  margin-top: 5em;
}

.siguenos {
  font-size: 20px;
  margin-left: 3em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes1 {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  gap: 2em;
  margin-left: 5em;
}

.redes2 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 6em;
  gap: 2em;
}

.instagram {
  width: 3em;
  display: flex;
}

.discord {
  width: 3em;
  display: flex;
}

.tiktok {
  width: 3em;
  display: flex;
}

.youtube {
  width: 3em;
  margin-top: 0.5em;
  display: flex;
}

.steam {
  width: 3em;
  display: flex;
}

.googleplay {
  width: 8em;
  display: flex;
}

.copyright {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.nombre-programador {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .img1 {
    display: none;
  }
  .img2 {
    display: none;
  }
  .imagen3 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img4 {
    display: none;
  }
  .img5 {
    display: none;
  }
  .grup1 {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .grup2 {
    flex-wrap: wrap;
  }
  .te-not {
    font-size: 22px;
  }
  .noti-im-foto {
    width: 100%;
    display: inline-block;
    align-items: center;
  }
  .noti-im-foto2 {
    width: 100%;
    display: inline-block;
  }
  .img1-jg {
    display: none;
  }
  .img2-jg {
    width: 200%;
    display: inline-block;
    margin-left: -50%;
  }
  .img3-jg {
    display: none;
  }
  .noticias1y2 {
    flex-wrap: wrap;
  }
  .noticias3y4 {
    flex-wrap: wrap;
  }
  video {
    align-items: center;
  }
  /*juegos*/
  .steam-jg {
    display: flex;
    flex: content;
    justify-content: start;
  }
  /*equipo*/
  .equipo1 {
    flex-wrap: wrap;
  }
  .equipo2 {
    flex-wrap: wrap;
  }
  /*footer*/
  .redes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .redes1 {
    justify-content: flex-start;
  }
  .redes2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
    margin-left: 7em;
  }
  .copyright {
    margin-top: 5%;
  }
}
@font-face {
  font-family: "Chomsky";
  src: url(/assets/fonts/Chomsky.otf);
}

/*# sourceMappingURL=style.css.map */
