.equipo-bicho{
    margin-left: 10%;
    width: 50%;
}
.equipo-bicho2{
    margin-top: 10%;
    width: 35%;
    margin-left: 25%;
}
.equip-rol{
    margin-top: 5%;
    margin-left: 30%;
}
.equip-rol2{
    margin-top: 5%;
    margin-left: 40%;
}