.contenedor-equipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.equipo1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.equipo-foto1{
    height: 300px;
}

.equipo2{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.equipo-foto2{
    height: 300px;
}
.nombre-equipo{
    color:  rgb(186, 85, 211);
    font-size: 30px;
}
.lista{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}