.img1{
    width: 60%;
    margin-left: 70%;
    margin-top: 10%;
}
.img2{
    width: 60%;
    margin-left: -10%;
    margin-top: 40%;
}
.img3{
    width: 115%;
    margin-left: -10%;
    margin-top: 5%;
}
.img4{
    width: 60%;
    margin-left: 10%;
    margin-top: 40%;
}
.img5{
    width: 30%;
    margin-left: -50%;
    margin-top: 40%;
}
.te-not{
    margin-top: 10%;
}
.noti-im-foto{
    width: 80%;
    padding-left: 15%;
    margin-top: 10%;
}