.titulo{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.text-contacto{
    margin-bottom: 20%;
}
.enviar{
    margin-top: 2%;
}
.form-label{
    font-size: large;
    font-style: oblique;

}